*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background:#ffb21991;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffb219e8;
}

.navbar {
    background: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    
    /*
    background-color: red;
    background-image: linear-gradient(to top, #ff0844 0, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem
    */
}

#logo {
    height: 80px;
    width:auto
}

.fa-gem {
    margin-right: flex;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration:none ;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: rgb(255, 255, 255);
}  

.button:hover {
    background: #4837ff;
    transition: all 0.3 ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3 ease;
}

@media screen and (max-width:960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }    
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }    
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }    
    
}

/*intro*/

.main {
    background-color: #191919;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #191919;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.hi{
    font-size: 4rem;
    background-color: rgb(255, 255, 255);
    background-image: #ffffff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
} 

.name{
    font-size: 7rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
}

.intro{
    font-size: 2rem;
    background-color: white;
    /*background-image: linear-gradient(to top, #1919ff 0%, #08f3ff 100%);*/
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: left;
        margin-bottom: 4rem;
    }

    .main__content h3 {
        font-size: 2.5rem;
        margin-top: 2rem;
        text-align: left;
    }

    .main__content h1 {
        font-size: 5rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h3 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

.main1 {
    background-color: #191919;
}

.main1__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #191919;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main1__content h1{
    color:#ff0844;
    font-size: 4rem;
}

.main1__content p {
    color:#fff;
    font-size: 1.5rem;
} 

.main__img--container {
    text-align: center;
}

#main1__img {
    height: 80%;
    width: 80%;
    padding-left: 2rem;
    padding-top: 5rem;
}

@media screen and (max-width: 768px) {
    .main1__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 250vh;
        padding-top: 0rem;
    }

    .main1__content {
        text-align: left;
        margin-bottom: -35rem;
    }

    .main1__content h1 {
        font-size: 5rem;
    }

    .main1__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main1__img--container {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 480px) {

    .main1__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main1__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding-bottom: 500rem;
    }

    #main1__img {
        display: none;
    }
}

.main2 {
    background-color: #191919;
}

.main2__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 120vh;
    background-color: #191919;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin-top: -40rem;
}

.main2__content h1{
    color:#ff0844;
    font-size: 4rem;
}

.main2__content p {
    color:#fff;
    font-size: 1.5rem;
} 

.main2__img--container {
    text-align: center;
}

#main2__img {
    height: 100%;
    width: 100%;
    padding-left: 2rem;
}

@media screen and (max-width: 768px) {
    .main2__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 250vh;
        padding-top: 0rem;
    }

    .main2__content {
        text-align: left;
        margin-bottom: -35rem;
    }

    .main2__content h1 {
        font-size: 5rem;
    }

    .main2__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main2__img--container {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 480px) {

    .main2__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main2__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding-bottom: 500rem;
    }

    #main2__img {
        display: none;
    }
}

.main3 {
    background-color: #191919;
}

.main3__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 120vh;
    background-color: #191919;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin-top: -41rem;
}

.main3__content h1{
    color:#ff0844;
    font-size: 4rem;
}

.main3__content p {
    color:#fff;
    font-size: 1.5rem;
} 

.main3__img--container {
    text-align: center;
}

#main3__img {
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    padding-top: 6rem;
}

@media screen and (max-width: 768px) {
    .main3__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 250vh;
        padding-top: 0rem;
    }

    .main3__content {
        text-align: left;
        margin-bottom: -35rem;
    }

    .main3__content h1 {
        font-size: 5rem;
    }

    .main3__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main3__img--container {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 480px) {

    .main3__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main3__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding-bottom: 500rem;
    }

    #main3__img {
        display: none;
    }
}

/*footer*/
.footer--conatiner {
    background-color: #141414;
    height: auto;
}

#github {
    height: 50px;
    width: auto;
    margin-left: 20rem;
    margin-top: 13px;
}

#linkedin {
    height: 50px;
    width: auto;
    margin-left: 15rem;
    margin-top: 13px;
}

#vercel {
    height: 50px;
    width: auto;
    margin-left: 15rem;
    margin-top: 13px;
}

@media screen and (max-width: 768px) {
    
    .footer--conatiner {
        display:flex; 
        flex-wrap:wrap;
    }
}

@media screen and (max-width: 480px) {

    .footer--conatiner {
        display:flex; 
        flex-wrap:wrap;
    }
}

@media screen and (max-height: 1080px) {

    .main1__container {
        margin-bottom: 490px;
    }
    .main2__container {
        margin-bottom: 490px;
    }
}
